<section class="section container mx-auto ">
    <h2 class="section__title text-center">Trick Or Treat</h2>
    <div class="candy__container  grid grid-cols-2 gap-5 md:grid-cols-3 gap-5">
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat1-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Toffee</h3>
            <span class="candy__subtitle">Candy</span>
            <span class="candy__price">$11.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat2-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Bone</h3>
            <span class="candy__subtitle">Accessory</span>
            <span class="candy__price">$8.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat3-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Scarecrow</h3>
            <span class="candy__subtitle">Accessory</span>
            <span class="candy__price">$15.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat4-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Candy Cane</h3>
            <span class="candy__subtitle">Candy</span>
            <span class="candy__price">$7.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat5-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Pumpkin</h3>
            <span class="candy__subtitle">Candy</span>
            <span class="candy__price">$19.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="candy__content md:grid grid-row gap-2">
            <img src="../../../assets/img/trick-treat6-img.png" alt="" class="candy__img  ">
            <h3 class="candy__title">Ghost</h3>
            <span class="candy__subtitle">Accessory</span>
            <span class="candy__price">$17.99</span>
            <button class="candy__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
    </div>
</section>