<section class="section  container mx-auto grid  gap-10 md:grid grid-row gap-10">
    <div class="discount grid md:grid-cols-2">
        <img src="../../../assets/img/discount-img.png" alt="" />
        <div class="discount__title">
            <h3 class="text-center">50% Discount <br />On New Products</h3>
            <button class="
          bg-red-500
          hover:bg-red-700
          text-white
          font-bold
          py-2
          px-4
          rounded-full
        ">
        GO TO NEW
      </button>
        </div>
    </div>
    <div class="new__container grid md: grid grid-cols-3 gap-5">
        <div class="new__content md:grid grid-row gap-2">
            <div class="new__tag bg-red-600 w-12 text-center">New</div>
            <img src="assets/img/new1-img.png" alt="" class="new__img" />
            <h3 class="new__title text-center">Haunted House</h3>
            <span class="new__subtitle text-center">Accessory</span>

            <div class="new__prices text-center">
                <span class="new__price">$14.99</span>&nbsp;
                <span class="new__discount text-red-600"> <del>$29.99</del></span>
            </div>

            <button class="new__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="new__content md:grid grid-row gap-2">
            <div class="new__tag bg-red-600 w-12 text-center">New</div>
            <img src="assets/img/new2-img.png" alt="" class="new__img" />
            <h3 class="new__title text-center">Halloween Candle</h3>
            <span class="new__subtitle text-center">Accessory</span>

            <div class="new__prices text-center">
                <span class="new__price">$11.99</span>&nbsp;
                <span class="new__discount text-red-600"> <del>$21.99</del></span>
            </div>

            <button class="new__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>
        <div class="new__content md:grid grid-row gap-2">
            <div class="new__tag bg-red-600 w-12 text-center">New</div>
            <img src="assets/img/new3-img.png" alt="" class="new__img" />
            <h3 class="new__title text-center">Witch Hat</h3>
            <span class="new__subtitle text-center">Accessory</span>

            <div class="new__prices text-center">
                <span class="new__price">$7.99</span>&nbsp;
                <span class="new__discount text-red-600"> <del>$19.99</del></span>
            </div>

            <button class="new__btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-1 rounded-full"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg>
                </button>
        </div>

    </div>
</section>